/*--------------*\
    header Section
\*--------------*/

.header-section{
    background-color: #ff9639;
    padding: 15px 0;
    .navbar{
        padding: 0;
        .navbar-brand{
            img{
                max-height: 65px;
                @include grid-sm-down{
                    max-height: 40px;
                }
            }
        }
        .navbar-collapse{
            justify-content: end;
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        color: #fff;
                        font-size: 20px;
                        padding: 15px;
                    }
                }
            }
            .dropdown-menu{
                background-color: #ff9639;
                border: 0;
                a{
                    color: #fff;
                    margin: 10px 0;
                    padding: 6px 20px;
                }
            }
        }
        .navbar-toggler{
            border: 1px solid #fff;
            padding: 10px;
            span{
                display: block;
                width: 20px;
                height: 2px;
                background-color: $black;
                & + span{
                    margin-top: 5px;
                }
            }
        }
    }
}